{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table" action="/history">
        <thead align="left">
            <th>Symbol</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Time</th>
        </thead>
        <tbody align="left">
            {% for stock in finance_trans %}
                <tr>
                    <td>{{stock.stock_symbol}}</td>
                    <td>{{stock.stock_qty}}</td>
                    <td>{{stock.stock_value}}</td>
                    <td>{{stock.trans_time}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
